.oxmod-myorder {
  /* CSS */
}
.oxmod-myorder .myorder {
  width: 100%;
  color: #555;
  background-color: #f5f5f5;
}
.oxmod-myorder .myorder thead th {
  background-color: #fff;
  font-weight: 300;
}
.oxmod-myorder .myorder .time,
.oxmod-myorder .myorder .tradeno {
  padding: 5px;
  color: #06f;
  font-size: 12px;
}
.oxmod-myorder .myorder .buyer,
.oxmod-myorder .myorder .last,
.oxmod-myorder .myorder .title {
  padding-bottom: 15px;
  background-color: #fff;
}
.oxmod-myorder .myorder .title {
  font-size: 12px;
  padding-left: 5px;
  padding-top: 5px;
}
.oxmod-myorder .myorder .last,
.oxmod-myorder .myorder .buyer {
  text-align: center;
}
.oxmod-myorder .myorder .price {
  font-style: normal;
  color: #f20;
}
.oxmod-myorder .status {
  font-style: normal;
  display: inline-block;
  font-size: 12px;
}
.oxmod-myorder .status-0:before {
  content: '待支付';
  color: #f60;
}
.oxmod-myorder .status-1:before {
  content: '已支付';
  color: #06f;
}
.oxmod-myorder .status-2:before {
  content: '已发货';
  color: #06f;
}
.oxmod-myorder .status-3:before {
  content: '已收货';
  color: #333;
}
.oxmod-myorder .status-4:before {
  content: '已收货';
  color: #333;
}
.oxmod-myorder .status-5:before {
  content: '订单关闭';
  color: #999;
}
.oxmod-myorder .bt-op {
  background-color: #fff;
  border-style: none;
  padding: 2px 5px;
  border: solid 1px #eee;
  border-radius: 3px;
  visibility: hidden;
}
.oxmod-myorder .bt-op-0,
.oxmod-myorder .bt-op-2 {
  visibility: visible;
}
.oxmod-myorder .bt-op-0:before {
  content: '去付款';
  color: #f60;
}
.oxmod-myorder .bt-op-2:before {
  content: '确认收货';
  color: #06f;
}
