.oxmod-myorder{
/* CSS */
  .myorder{
    width:100%;
    color:#555;
    background-color: #f5f5f5;
    thead{
      th{
        background-color: #fff;
      }
    }
    tbody{

    }
    .time,
    .tradeno{
      padding:5px;
      color:#06f;
      font-size:12px;
    }
    .buyer,
    .price,
    .title{
      padding-bottom: 15px;
      background-color: #fff;
    }
    .title{
      font-size:12px;
      padding-left:5px;
      padding-top:5px;
    }
    .price,
    .buyer{
      text-align: center;
    }
    .price{
      color:#f20;
    }
  }
 }
